.showModal{
  display:block;
  -webkit-animation-name: modalShow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: modalShow;
  animation-duration: 2s;  
}
.hideModal{
  display:none;
  -webkit-animation-name: modalHide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: modalHide;
  animation-duration: 2s;  
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes modalShow {
    from {
      display: none;
      opacity: 0;
      transform: translateY(0);
    }
    to {
      display: block;
      opacity: 1;
      transform: translateY(1)
    }
}

/* Standard syntax */
@keyframes modalShow {
    from {
      display: none;
      opacity: 0;
      transform: translateY(0);
    }
    to {
      display: block;
      opacity: 1;
      transform: translateY(1)
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes modalHide {
    from {
      display: block;
      opacity: 1;
      transform: translateY(1)
    }
    to {
      display: none;
      opacity: 0;
      transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes modalHide {
    from {
      display: block;
      opacity: 1;
      transform: translateY(1)
    }
    to {
      display: none;
      opacity: 0;
      transform: translateY(0);
    }
}
.mustFill{
  color: red;
}
.Link{
  text-decoration: none;
  color: #9d9d9d;
}
.Link:focus{
  text-decoration: none !important;
  color: white !important;   
}
.Link:hover{
  text-decoration: none;
  color: white;  
}
.navbar{
  margin-bottom: 0;
}
.courseName{
  font-weight: bold;
}
.coursePanel:hover{
  background-color: #ddd;
}
.countBar{
  background-color: orange;
  color: white;
  height: 30px;
  padding: 0.5%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Form{
  line-height: 200%;
}

.App {
  text-align: center;
  margin-bottom: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 5s alternate;
  height: 80px;
}

.App-header {
  background-color: yellow;
  height: 180px;
  padding: 20px;
  color: black;
  font-family: Arial;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(-45deg); }
  to { transform: rotate(45deg); }
}
