.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Form{
  line-height: 200%;
}

.App {
  text-align: center;
  margin-bottom: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 5s alternate;
  height: 80px;
}

.App-header {
  background-color: yellow;
  height: 180px;
  padding: 20px;
  color: black;
  font-family: "Comic Sans MS";
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(-45deg); }
  to { transform: rotate(45deg); }
}
